body {
  font-family: 'Open Sans', sans-serif;
  background: #dedfe1;
}

/* chat */
.container-chatbot {
  /* background: #dedfe1;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px; */
  margin: auto;
  margin-top: 125px;
  width: 20%;
}

#result_div {
  overflow: auto;
  height: calc(100vh - 300px)!important;
  padding-bottom: 15px;
}

#typing-gif {
  display: inline-block;
  max-width: 80px;
  height: auto;
  clear: both;
  padding: 20px;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

/* bubbles */
#bot-message {
  display: inline-block;
  clear: both;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 10px;
  background: #343A40;
  color: #fff;
  float: left;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-left-radius: 5px;
}

#user-message {
  display: inline-block;
  word-wrap: break-word;
  clear: both;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 10px;
  float: right;
  background: #fff;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-right-radius: 5px;
}

#user-message + #user-message {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
